<!DOCTYPE html>
<html lang="en">
    <head>
        <title>showtweet.info</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>Enter tweet ID and click the button...</h3>
            <form action="." method="POST" class="form-inline">
                <input type="text" class="form-control" name="tweet_id">
                <button type="submit" class="btn btn-default">Show</button>
            </form>
        </div>
    </body>
</html>
